$backgroundColor: rgb(47, 48, 51);
$primaryColor: rgb(248, 245, 244);

$secondaryBackgroundColor: rgb(47, 48, 51);
$secondaryColor: rgb(102, 102, 102);

$warningColor: rgb(169, 68, 66);

$card-cap-bg : rgb(46, 47, 51);
