<div class="d-flex overflow-auto mobile-view {{isMenuOpen ? 'mobile-menu' : ''}}">
    <div class="d-inline-flex h-100">
        <div class="mobile-menu-container">
            <div class="mobile-master-view-group __menu" (click)="mobileBackOrMenuClick('menu')">
                <!-- <i class="fa fa-chevron-left" aria-hidden="true"></i> -->
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
        </div>
        <div class="d-inline-flex nav-items">
            <div *ngFor="let listItem of listItems; let i = index" class="">
                <div class="mobile-master-view-group scroll {{(listItem.getDisplayText() === currentListItem.getDisplayText()) ? 'active' : ''}} overflow-auto text-nowrap"
                    (click)="listItemOnClick($event, listItem)">{{listItem.getDisplayText()}}</div>
            </div>
        </div>
    </div>
</div>

<lib-mobile-nav-card-items [listItems]="currentListItem.getNestedItems()" [nestedDepth]="1" [nestedPath]="openPath"
    (itemClick)="listItemOnClick($event.event, $event.listItem)" *ngIf="currentListItem && showCards">
</lib-mobile-nav-card-items>

<!-- <div class="children-as-cards d-flex flex-wrap justify-content-center" *ngIf="currentListItem && showCards">
    <div *ngFor="let listItem of currentListItem.getNestedItems(); let i = index"
        class="card card-container-main {{listItem.isSelected() ? 'selected' : ''}}"
        (click)="listItemOnClick($event, listItem)">
        <div class="card-body p-2 justify-content-center text-center">
            <div class="card-title">{{listItem.getDisplayText()}}</div>
        </div>
    </div>
</div> -->