.video-preview-modal {
  background-color: #111215!important;
  border: 1px solid #838383;
  border-radius: 6px;
  padding: 16px;
  width: 764px;
}

.close-button {
  cursor: pointer;
}

iframe {
  border: none;
  width: 100%;
  height: 446px;
}


@import "../../../scss/shared.scss";