
.atmos-ico {

}

.atmos-ico.atmos-ico--sm {
    width: 14px;
    height: 10px;
}

/*
- Master View List Items
 */
.atmos-ico.atmos-ico--md {
    width: 16px;
    height: 15px;
}

/*
- Detail View Heading
- Nav Account dropdown
 */
.atmos-ico.atmos-ico--lg {
    width: 18px;
    height: 17px;
}
