.popovers-container {
    position: fixed;
    margin-left: 124px;
    height: auto;
    bottom: 50px;
    left: 0%;
}

.toolbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}